<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>주문관리</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<h1>주문관리</h1>

<table border="1">

    <tr>

        <th>주문번호</th>

        <th>회원</th>

        <th>주문일</th>

        <th>총금액</th>

        <th>상태</th>

        <th></th>

    </tr>

    <tr th:each="order : ${orders}">

        <td th:text="${order.id}"></td>

        <td th:text="${order.member.username}"></td>

        <td th:text="${order.orderDate}"></td>

        <td th:text="${order.totalPrice}"></td>

        <td th:text="${order.status}"></td>

        <td>

            <a th:href="@{/admin/order/{id}(id=${order.id})}">

                상세보기

            </a>

        </td>

    </tr>

</table>

</body>

</html>