<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="admin-header" th:fragment="header">

    <div class="header-left">

        <h3>Dashboard</h3>

    </div>

    <div class="header-right">

        <button class="header-icon">

            <i class="bi bi-bell"></i>

        </button>

        <div class="admin-user">

            <div class="avatar">

                A

            </div>

            <div>

                <strong>Administrator</strong>

                <p>Layer Mall</p>

            </div>

        </div>

    </div>

</header>

</html>